body {
  background-color: pink;
}
.open {
  background-color: rgba(31, 249, 249, 0.8);
  width: 40%;
  height: 300px;
  text-align: center;
  margin: 100px auto;
  border-radius: 30px;
  padding: 30px;
  transition: all ease 1s;
}
.open span,
.open a {
  font-size: 15px;
}
.open .son_1 {
  font-size: 40px;
}
.open .son_2 {
  font-size: 50px;
  cursor: pointer;
}
.temp {
  display: none;
  width: 100%;
  height: 400px;
  text-align: center;
  margin: 400px auto;
  font-size: 40px;
}
.secret {
  width: 80%;
  height: 300px;
  background-color: #c419de;
  color: #fff;
  border-radius: 50px;
  margin: 100px auto;
  padding-top: 30px;
  background: url(../img/爱心.jpg) repeat;
  background-size: 100% 100%;
  display: none;
}
.secret .son_1 {
  text-align: center;
  width: 100%;
  font-size: 40px;
}
.secret .son_2 {
  margin-top: 280px;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 30px;
}
