// 背景动画效果
@keyframes movement {

    0%,
    100% {
        background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        ;
        background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
        ;
    }

    25% {
        background-size:
            160vmax 130vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            60vmax 60vmax;
        ;
        background-position:
            -60vmax -90vmax,
            50vmax -40vmax,
            0vmax -20vmax,
            -40vmax -20vmax,
            40vmax 60vmax;
        ;
    }

    50% {
        background-size:
            150vmax 120vmax,
            100vmax 100vmax,
            120vmax 120vmax,
            100vmax 100vmax,
            50vmax 50vmax;
        ;
        background-position:
            -70vmax -100vmax,
            40vmax -60vmax,
            -20vmax -40vmax,
            -60vmax -40vmax,
            20vmax 40vmax;
        ;
    }
}